main {
  min-height: 80vh;
  padding: 2rem 0;
}

.sectionheader {
  text-decoration: underline;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  background-color: #f5f5f5; /* Updated color */
  border-bottom: solid;
}
footer {
  padding: 0.5em;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}
.push {
  height: 100%; /* Fill the remaining space between the main content and the footer */
}
body {
  background-color: #f5f5f5; /* Replace with your desired color */
}

/* Login User Icon */
.material-symbols-outlined {
  font-family: "Material Symbols Outlined", sans-serif;
  font-size: 50px; /* Adjust the font size as needed */
}

#carouselBig .carousel-item img {
  width: 970px;
  height: 300px; /* Update the height value as per your requirement */
  object-fit: cover;
}

/* Product Section */
#products {
  margin-top: 50px;
}

.product_img {
  text-align: center;
}

.product_img img {
  max-width: 100%;
  height: auto;
}

.product_content {
  padding: 20px;
}

.product_titled {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product_description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.price {
  margin-bottom: 20px;
}

.normal_price {
  font-size: 20px;
  font-weight: bold;
}

.genre,
.release_date {
  font-size: 16px;
  margin-bottom: 10px;
}

.btn_submit {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

/* Reviews Section */
.review {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  border-radius: 5px;
}

.review h4 {
  color: #171717;
  font-weight: 700;
  margin-bottom: 5px;
}

.review .rating i {
  color: rgb(207, 182, 40);
  margin-right: 4px;
}
.review p {
  color: #171717;
  line-height: 1.5;
}

/* Comment Section */
#comments {
  margin-top: 50px;
}

.form-group {
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

#rating {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn_submit {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
.star-rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.star-rating .d-block {
  display: block;
  cursor: pointer;
}

.text-primary .bi {
  color: #0d6efd; /* Bootstrap primary color */
}

.text-secondary .bi {
  color: #6c757d; /* Bootstrap secondary color */
}
.star-rating {
  color: #ccc;
}

.star-rating i.fas::before {
  content: "\f005";
}

.star-rating i.far::before {
  content: "\f006";
}

.star-rating i.active,
.star-rating i:hover {
  color: #0d6efd;
  cursor: pointer;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -18px;
  /*   border: 2px solid while; */
  opacity: 10; /* Add this line to make the icon visible */
}

/* Enable pointer events on the buttons */
.carousel-control {
  pointer-events: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  font-size: 32px;
  color: white;
  font-weight: bold;
  line-height: 1;
  display: block;
}

.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
  color: transparent;
  -webkit-text-stroke: 2px black;
}
