.sectionheader {
  text-decoration: underline;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  background-color: #f5f5f5; /* Updated color */
  border-bottom: solid;
}
footer {
  border-top: solid;
  padding: 0.5em;
  text-align: center;
}
body {
  background-color: #f5f5f5; /* Replace with your desired color */
}

/* Login User Icon */
.material-symbols-outlined {
  font-family: "Material Symbols Outlined", sans-serif;
  font-size: 50px; /* Adjust the font size as needed */
}

#carouselBig .carousel-item img {
  width: 970px;
  height: 300px; /* Update the height value as per your requirement */
  object-fit: cover;
}

